.sidepage{
   
    display: inline-block;
    position: fixed;
    left: 0%;
    height: 100%;
    width: 30%;
    background-color: #ECD8E0 !important; 
    font-size: 100%;
    
}
.first_col{
    height: 100%;
    top: 50%;
}
.Para{
    width: 100%;
}
